@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

            <form id="form" method="post">
<h1>@ViewData["Title"]</h1>
                
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form">
                   <div class="grupo">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" id="email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                   </div>

                   <div class="grupo">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" id="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                   </div>
                </div>
               
               <p class="warnings" id="warnings"></p>
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    <button type="submit" class="btn btn-primary"> Cancelar</button>

                <div class="form-group">
                    <p >
                         &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
                        <a id="forgot-password" asp-page="./ForgotPassword">¿Olvido su contraseña?</a>
                    </p> 
                    <p>
                        &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp  
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse</a>
                    </p>
                </div>
            </form>

