@model SistemaDeAsistenciaLogistica.Core.Domain.Inventario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h1>Crare</h1>

<h4>Inventario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdInsumo" class="control-label"></label>
                <select asp-for="IdInsumo" class ="form-control" asp-items="ViewBag.IdInsumo"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaIngreso" class="control-label"></label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorUnidadValorMetro" class="control-label"></label>
                <input asp-for="ValorUnidadValorMetro" class="form-control" />
                <span asp-validation-for="ValorUnidadValorMetro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPerfil" class="control-label"></label>
                <select asp-for="IdPerfil" class ="form-control" asp-items="ViewBag.IdPerfil"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Atrás</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
