@model SistemaDeAsistenciaLogistica.Core.Domain.TipoProducto

@{
    ViewData["Title"] = "Tipo de Producto";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h3>¿Desea eliminar @ViewData["Title"]?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tipo de Producto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTipoProducto" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index"><i class="icon ion-ios-undo"></i></a>
    </form>
</div>
