@model SistemaDeAsistenciaLogistica.Core.Domain.TipoProducto

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}


<form asp-action="Edit" class="form-edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdTipoProducto" />
    <div class="form-group-edit-a">
        <label asp-for="NombreProducto" class="control-label"><b>Tipo de Producto</b></label>
        <input asp-for="NombreProducto" class="form-control" />
        <span asp-validation-for="NombreProducto" class="text-danger"></span>
    </div>
    <div class="form-group-edit">
        <input type="submit" value="Guardar" class="btn btn-primary" />
        <a asp-action="Index"><i class="icon ion-ios-undo"></i></a>
    </div>

</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
