@model SistemaDeAsistenciaLogistica.Core.Domain.Material

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMaterial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMaterial">Editar</a> |
    <a asp-action="Index">Atrás</a>
</div>
