@model SistemaDeAsistenciaLogistica.Core.Domain.Colores

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de que quiere eliminar esto?</h3>
<div>
    <h4>Colores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdColor" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Atrás</a>
    </form>
</div>
