<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaDeAsistenciaLogistica.Web</title>
    <link href="~/css/login.css" rel="stylesheet" />
    <link rel="shourtcut icon" type="text/css" href="~/IMG/Sal.jpeg"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
</head>
<body>
    
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   <script src="~/js/val.js"></script> 
    
</body>
</html>
